<h1 class="text-center font-bold py-2 text-gray-700">Login</h1>
<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="login()" id="loginForm">

    <!-- Email -->
    <div>
        <div class="relative">
            <label for="email">
                Email
                <input formControlName="email" placeholder="" type="email" name="email" id="email" autocomplete="email"
                    class="bg-gray-100 border border-gray-300 text-gray-900 rounded-lg block w-full p-2" />
            </label>
        </div>
        @if (form.get('email')?.touched && form.get('email')?.invalid) {
        @if (form.get('email')?.hasError('required')) {
        <p class="text-red-500 text-xs mt-1 ml-1">This field is mandatory</p>
        }
        @if (form.get('email')?.hasError('email')) {
        <p class="text-red-500 text-xs mt-1 ml-1">This field should be an email</p>
        }
        }
    </div>

    <!-- Password -->
    <div>
        <div class="relative">
            <label for="password">
                Password
                <input formControlName="password" placeholder="" [type]="showPassword ? 'text' : 'password'" id="password"
                    class="bg-gray-100 border border-gray-300 text-gray-900 rounded-lg block w-full p-2" />
                <div class="flex items-center my-2">
                    <input (click)="togglePassword($event)" id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 focus:ring-2">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Show password</label>
                </div>
            </label>
        </div>
        @if (form.get('password')?.touched && form.get('password')?.invalid) {
        @if (form.get('password')?.hasError('required')) {
        <p class="text-red-500 text-xs mt-1 ml-1">This field is mandatory</p>
        }
        @if (form.get('password')?.hasError('minlength')) {
        <p class="text-red-500 text-xs mt-1 ml-1">Should be at least 4 characters</p>
        }
        @if (form.get('password')?.hasError('maxlength')) {
        <p class="text-red-500 text-xs mt-1 ml-1">Should be 128 characters or less</p>
        }
        }
    </div>

    <!-- Submit Button -->
    <div class="text-center">
        <button type="submit"
            class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-2.5 me-2 mb-2  focus:outline-none ">Login</button>
    </div>
</form>

<p class="text-red-500 text-center mt-1 ml-1 text-2xl font-semibold">{{message()}}</p>