<main class="w-screen h-[calc(100dvh-3.5rem)] min-h-min flex items-center justify-center bg-white md:bg-gray-50 relative">
    <section class=" min-h-min min-w-min py-8 ">
        <div class="bg-white rounded sm:shadow-lg py-4 px-4 md:px-9">
            <div class="mb-4">
                <app-register-form></app-register-form>
            </div>
            <hr class="my-4 border-b-1 border-r-gray-300" />
            <div
                class="flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row">
                <span>
                    Already registered? <a routerLink="/login" class="text-blue-600 hover:underline">log in</a>
                </span>
            </div>
        </div>
    </section>
</main>