<div class="container mx-auto h-[calc(100dvh-3.55rem)] min-h-min">
    <section class="py-8 px-2">
        <div class="bg-white rounded border shadow-2xl py-4 px-4 md:px-12">
            <div class="mb-4">
                <app-register-form />
            </div>
            <hr class="my-4 border-b-1 border-r-gray-300" />
            <div
                class="flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row">
                <span>
                    Already registered? <a routerLink="/login" class="text-blue-600 hover:underline">log in</a>
                </span>
            </div>
        </div>
    </section>
</div>