<h1 class="text-center font-bold py-1 text-gray-700 text-2xl">{{title}}</h1>
<form [formGroup]="form" novalidate class="space-y-4 mt-4" (ngSubmit)="doAction()" id="postForm">
    <!-- title -->
    <div>
        <div class="relative">
            <label for="title">
                Title
                <input formControlName="title" placeholder="" type="text" name="title" id="title"
                    class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-1.5" />
            </label>
        </div>
        @if (form.get('title')?.touched && form.get('title')?.invalid) {
        @if (form.get('title')?.hasError('required')) {
        <p class="text-red-500 text-xs mt-1 ml-1">This field is mandatory</p>
        }
        @if (form.get('title')?.hasError('maxlength')) {
        <p class="text-red-500 text-xs mt-1 ml-1">This field should be less or equal than 50 characters</p>
        }
        }
    </div>

    <!-- content -->
    <div>
        <div class="relative">
            <label for="content">
                Content
                <textarea formControlName="content" placeholder="" name="content" id="content"
                    class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 min-h-30">
                    </textarea>
            </label>
        </div>
        @if (form.get('content')?.touched && form.get('content')?.invalid) {
        @if (form.get('content')?.hasError('required')) {
        <p class="text-red-500 text-xs mt-1 ml-1">This field is mandatory</p>
        }
        }
    </div>

    <div class="bg-neutral-50 rounded border p-4">
        <div class="text-center">
            <p class="font-bold text-lg">Permissions</p>
        </div>
        <div class="grid grid-cols-1 gap-5">

            <!-- Author Access -->
            <label for="author_access">
                Author Access
                <select id="author_access" formControlName="author_access" name="author_access"
                    class="max-w-full mx-auto bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 ">
                    @for (option of getAuthorAccessOptions(); track option) {
                    <option [value]="option">{{ option }}</option>
                    }
                </select>
            </label>

            <!-- Team Access -->
            <label for="team_access">
                Team Access
                <select id="team_access" formControlName="team_access" name="team_access"
                    class="max-w-full mx-auto bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 ">
                    @for (option of getTeamAccessOptions(); track option) {
                    <option [value]="option">{{ option }}</option>
                    }
                </select>
            </label>

            <!-- Authenticated access -->
            <label for="authenticated_access">
                Authenticated Access
                <select id="authenticated_access" formControlName="authenticated_access" name="authenticated_access"
                    class="max-w-full mx-auto bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 ">
                    <option *ngFor="let option of getAuthenticatedAccessOptions()" [value]="option">
                        {{ option }}
                    </option>
                </select>
            </label>

            <!-- Public access -->
            <label for="public_access">
                Public Access
                <select id="public_access" formControlName="public_access" name="public_access"
                    class="max-w-full mx-auto bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 ">
                    <option *ngFor="let option of getPublicAccessOptions()" [value]="option">
                        {{ option }}
                    </option>
                </select>
            </label>
        </div>
    </div>

    <div class="grid grid-cols-1  sm:grid-cols-2">
        <div class="text-center">
            <button type="submit"
                class="border rounded-md p-2 px-6 bg-blue-600 text-white m-2 hover:bg-blue-500 focus:bg-blue-700 cursor-pointer">{{buttonText}}</button>
        </div>
        <div class="text-center">
            <button type="button"
                class="border rounded-md p-2 px-6 bg-red-600 text-white m-2 hover:bg-red-500 focus:bg-red-700 cursor-pointer" (click)="cancel()">Cancel</button>
        </div>
    </div>
</form>