<div class="container mx-auto h-[calc(100dvh-3.55rem)]">
    <section class="py-8 px-2">
        <div class="py-8 px-4 mx-auto">
            <div class="mx-auto max-w-screen-sm text-center">
                <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 ">500</h1>
                <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl ">Internal Server Error</p>
                <p class="mb-4 text-lg font-light text-gray-500 ">Something went wrong on our server. Please try again later.</p>
            </div>
        </div>
    </section>
</div>